/* Hlavný kontajner s výškou prispôsobenou viewportu */
.manage-users-container {
    display: flex;
    flex-direction: column;
    padding: 20px 20px; /* ↑ horný a dolný padding = 40px, ľavý a pravý = 20px */
    margin: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.32);

    /* Namiesto pevnej výšky len minimálna výška */
    min-height: calc(85vh - 110px); /* nastav podľa výšky navbaru + footeru */
    box-sizing: border-box;
}


/* Header sekcia */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header-title {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.header-actions {
    display: flex;
    gap: 10px;
}

.global-search,
.text-filter,
.role-filter {
    width: 250px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.text-filter {
    height: 35px;
}

/* DataTable */
.p-datatable {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.p-datatable-wrapper {
    flex-grow: 1; /* vyplní zvyšný priestor */
    overflow-y: auto;
}

.p-datatable .p-datatable-tbody > tr > td {
    padding: 10px;
    font-size: 14px;
    text-align: left;
    vertical-align: middle;
    min-height: 50px;
}

.p-datatable .p-datatable-tbody > tr:hover {
    background-color: #f0f8ff;
}

.delete-button {
    background-color: #ff4d4f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #e60000;
}
