html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.home-wrapper {
    /* Ak tento wrapper používame len v rámci Home, môžeš ho ponechať pre interné odsadenie */
    padding: 2rem 0;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.text-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    padding: 2rem;
    max-width: 60%;
    z-index: 2;
}

.home-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #00203f;
    margin-bottom: 1rem;
}

.home-subtitle {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 2rem;
}

.home-description h2 {
    font-size: 1.8rem;
    color: #00203f;
    margin-bottom: 1rem;
}

.home-description p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.cta-button {
    background-color: #ff0000;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #cc0000;
}

.image-container {
    margin-left: 2rem;
}

.image-container img {
    max-width: 650px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.features-section {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.features-title {
    font-size: 2rem;
    color: #00203f;
    margin-bottom: 10px;
}

.features-description {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 20px;
}

.features-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.features-list li {
    font-size: 1rem;
    color: #444;
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;
}

.features-list li:before {
    content: "✓";
    position: absolute;
    left: 195px;
    color: #ff0000;
}

/* Responzívne nastavenie pre menšie obrazovky */
@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
        text-align: center;
    }
    .image-container {
        margin-left: 0;
        margin-top: 20px;
    }
    .text-container {
        max-width: 100%;
    }
}
